<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Data acc lol
    body
        .acc1
            .img_acc
                img(src="pictures/Suport_champion/Thresh/Thresh_BloodMoonSkin.jpg", alt="", srcset="")
            .info_acc
                h6 Thông tin : Trắng thông tin
                h5 Rank : Vàng IV
                h4 Số lượng tướng : Full tướng
                h3 Cấp : 30
                h2 Số trang phục : 60