center
    .main_body_center
        .item_main_1
            .icon_picture
                img(src="/pictures/Suport_champion/Thresh/Thresh_icon.png", alt="", srcset="")
        .item_main_2
            h3 Nơi bán Acc liên minh huyền thoại 
            h4 Giá rẽ , Chất lượng , Uy tín
    .main_list_skin
        .list_skin_normal
            h4 Acc chứa skin bình thường
            .list_acc
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_ChampionshipSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="acc_lien_minh" class="acc_1")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_BloodMoonSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :  
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_DarkStarSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_ChampionshipSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_BloodMoonSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :  
                .acc_lol
                    img(src="/pictures/Suport_champion/Yuumi/Yuumi_BattlePrincipalSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :
                .acc_lol
                    img(src="/pictures/Suport_champion/Yuumi/Yuumi_OriginalSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :  
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_CelestineSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_DawnbringerSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_DivineSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :  
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_DryadSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :     
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_NightbringerSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :        
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_OrderoftheBananaSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :   
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_OriginalSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :   
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_ProgramSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :    
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_ReaperSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_WinterWonderSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
        .info_finish