center
    .main_body_center
        .item_main_1
            .icon_picture
                img(src="/pictures/Suport_champion/Thresh/Thresh_icon.png", alt="", srcset="")
        .item_main_2
            h3 Nơi bán Acc liên minh huyền thoại 
            h4 Giá rẽ , Chất lượng , Uy tín
    .main_list_skin
        .list_skin_item
            h4 Acc chứa skin bình thường
            .list_acc
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_ChampionshipSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_BloodMoonSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :  
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_DarkStarSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_DeepTerrorSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Thresh/Thresh_HighNoonSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp :  
            a(href="skin_normal")
                h4 Xem thêm ... 
        .list_skin_item
            h4 Acc chứa skin sử thi
            .list_acc
                .acc_lol
                    img(src="/pictures/Suport_champion/Luu/Lulu_BittersweetSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Luu/Lulu_CosmicEnchantressSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Luu/Lulu_DragonTrainerSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Luu/Lulu_OriginalSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Luu/Lulu_PajamaGuardianSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
            a(href="http://")
                h4 Xem thêm ... 
        .list_skin_item
            h4 Acc chứa skin siêu phẩm
            .list_acc
                .acc_lol
                    img(src="/pictures/Suport_champion/Morgana/Morgana_BewitchingSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Morgana/Morgana_BlackthornSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Morgana/Morgana_BladeMistressSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Morgana/Morgana_ExiledSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Morgana/Morgana_GhostBrideSkin.webp", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
            a(href="http://")
                h4 Xem thêm ... 
        .list_skin_item
            h4 Acc chứa skin huyền thoại
            .list_acc
                .acc_lol
                    img(src="/pictures/Suport_champion/pyke/Pyke_BloodMoonSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/pyke/Pyke_OriginalSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/pyke/Pyke_PROJECTSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/pyke/Pyke_SandWraithSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/pyke/Pyke_SandWraithSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
            a(href="http://")
                h4 Xem thêm ... 
        .list_skin_item
            h4 Acc chứa skin vũ khí tối thượng
            .list_acc
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_CelestineSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_DawnbringerSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_DivineSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_DryadSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
                .acc_lol
                    img(src="/pictures/Suport_champion/Soraka/Soraka_NightbringerSkin.jpg", alt="", srcset="")
                    .info_acc_lol
                        a(href="")
                            .full_info_acc
                                li
                                    span Thông tin : Acc trắng thông tin 
                                li
                                    span  Rank : 
                                li
                                    span Số lượng tướng : 
                                li
                                    span Cấp : 
            a(href="http://")
                h4 Xem thêm ... 
        .info_finish
            