header
    .main_body
        .left_header
            .pic
                img(src="pictures/Suport_champion/Thresh/Thresh_icon.png", alt="", srcset="")
            a
                h3 Thresh Shop
        .right_header
            .item_header1
                a(href="http://") Danh sách trang phục
                i.fas.fa-chevron-down
                .add_class
                    .doc
                        li
                            span(href="") Giá rẽ
                        li
                            span(href="") Sử thi
                        li
                            span(href="") Siêu phẩm 
                        li
                            span(href="") Huyền thoại
            .item_header2
                a(href="http://") Acc liên minh 
                i.fas.fa-chevron-down
                .add_class
                    .doc
                        li
                            span(href="") 100k
                        li
                            span(href="") 200k
                        li
                            span(href="") Lớn hơn 500k
            .item_header3
                a(href="http://") Liên hệ
            .item_icon_search
                .icon
                    i.fas.fa-search
            .item_sign
        .form_search
            form(action="", method="post")
                input(type="text" name="search" placeholder="Search...")
                label#id_close(for="")
                    i.fas.fa-times