center
    .main_info_acc_lol
        .main
            .picture
            .info_acc
                .info_all_acc
                    li(class="info1")
                        span a
                    li(class="info2")
                        span b
                    li(class="info3")
                        span c
                    li(class="info4")
                        span d
                    li(class="info5")
                        span e
                    button(type="submit") Mua ngay  
                    .list_acc_flow       
    .finish_main_acc
    