link(rel="stylesheet", href="css/header.css")
link(rel="stylesheet", href="css/main_body_1.css")
link(rel="stylesheet", href="css/skin_normal.css")
link(rel="stylesheet", href="css/main_acc.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Hind|Permanent+Marker&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Hind|Pacifico|Permanent+Marker&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Hind|Kanit|Lobster|Pacifico|Permanent+Marker&display=swap")
script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
script(src="js/header_search.js")
script(src="js/load_data_acc.js")